.container {
  background-color: rgb(58, 62, 69); display: flex;
  flex: auto;
  flex-wrap: wrap;
  width: 1090px;
}

.jumbotron {
  background-color: rgb(32, 48, 78);
  font-style: bold;
  color: white;
  align-content: space-between;
}

.display-4 {
  color: white;
}

.card {
  background-color: lightcyan;
  width: 230px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px;
  margin-left: 15px;
}

.card-header {
  color: white;
  width: 230px;
  height: 120px;
  background-color: darkblue;
  font-weight: bold;
  font-style: italic;
  justify-content: space-around;
}